# Python virtual environments
*.pyc
*.pyo
*.pyd
.Python
venv/
.env/
.venv/

# pixi environments
.pixi/*
!.pixi/config.toml

# Python cache
__pycache__/


# Jupyter Notebook cache
.ipynb_checkpoints/
*.ipynb_checkpoints

# Marimo 
__marimo__/

# Web app
webapp/frontend/node_modules/
webapp/frontend/dist/